<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= link_to 'Start a survey', chatrooms_path, method: :post %>
<h5>Or</h5>
<%= link_to 'Create a questionnaire', new_questionnaire_path %>

<br>

<% if current_user && current_user.chatrooms.any? %>
  <ul>
    <% current_user.chatrooms.each do |chatroom| %>
    <li>
      <%= link_to "Continue survey in #{chatroom.name}", chatroom_path(chatroom.id) %>
    </li>
    <% end %>
  </ul>
<% end %>
