.hidden {
  display: none;
}

.message {
  border-radius: 17px;
  max-width: 60%;
  padding: .5rem .75rem;
  margin-top: 10px;
}

.bot-message {
  background-color: #EBEBEB;
}

.user-message {
  background-color: #ABBAEA;
}
